<h4><%= @post.title %> <a href="<%=@post.url%>">URL</a></h4>

<h3>Create Comment</h3>
<form action="/create_comment/<%= @post.id %>" method="POST">
  <textarea rows="10" cols="30" name="comment"></textarea><br>
  <input type="submit" value="submit">
</form>

<ul><% @post.comments.each do |comment|%>
    <li> <%= comment.comment %> </li>
    <% end %>
</ul>

<h4><a href="/logout"> Log Out</a></h4>
<h4><a href="/"> Home</a></h4>
