<h4><%= @post.title %> <a href="<%=@post.url%>">URL</a></h4>

<h3>Create Post</h3>
<form action="/create_post" method="POST">
  <textarea rows="10" cols="30"> <input type="text" name="comment"><br>
  <input type="submit" value="submit">

</form>
