<div class="container">
  <h1>Welcome to Fake Hacker News!</h1>
  <% if !session[:id] %>
    <h4><a href="/create_login"> Login</a></h4>
  <% end %>
  
  <ul>
  <% @posts.each do |post| %>
    <li> <a href="<%=post.url%>"> <%=post.title%></a> <a href="/comments/<%= post.id%>">Comments</a> </li>    
  <% end %>
  </ul>

<%if session[:id]%>
  <h4><a href="/profile/<%= @user.id %>">Profile Page </a></h4>
  <h4><a href="/logout"> Log Out</a></h4>
<% end %>
</div>
