<div class="container">
  <h1>Welcome to Fake Hacker News!</h1>
  <h4><a href="/create_login"> Login</a></h4>
  <ul>
  <% @posts.each do |post| %>
    <li> <a href="<%=post.url%>"> <%=post.title%></a> </li>    
  <% end %>
  </ul>

<h4><a href="/logout"> Log Out</a></h4>
</div>
